* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
	display: table;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Orbitron', sans-serif;
	color: #D4EDF8;
	text-shadow: 0 0 12px #6FC3EF;
	background-color: #030916;
	background-image: radial-gradient(#0A1927, #030916);
}

.page {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

h2 {
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 1.2em;
}

input[type=text] {
	color: #D4EDF8;
	background: transparent;
	width: 50px;
	border: 2px solid #8AE1FA;
	box-shadow: 0 0 2px 0 #6FC3EF;
	margin-right: 20px;
	text-align: right;
	vertical-align: middle;
}
input[type=text]:focus {
	box-shadow: 0 0 8px 0 #6FC3EF;
}

button {
	font-family: 'Orbitron', sans-serif;
	font-size: 0.9em;
	color: #D4EDF8;
	background: transparent;
	border: 2px solid #8AE1FA;
	padding: 2px 10px 1px;
	box-shadow: 0 0 2px 0 #6FC3EF;
	vertical-align: top;
	cursor: pointer;
}

button:hover {
	box-shadow: 0 0 3px 0 #6FC3EF, inset 0 0 7px 0 #D4EDF8;
}

rect {
	shape-rendering: crispEdges;
}

.border {
	fill: #F6B22D;
	stroke: #ACC5D0;
	stroke-width: 1;
}

.bg {
	stroke: #09112A;
	stroke-width: 1;
}

.base text {
	fill: white;
	stroke: none;
	text-anchor: middle;
	dominant-baseline: middle;
}

.state {
	font-size: 30px;
	fill: #fff780;
	text-anchor: middle;
	dominant-baseline: middle;
}
.state.loss {
	fill: #fb5635;
}
